In [ ]:
import pyspark
from pyspark.sql import SparkSession

:

In [2]:
# Create a SparkSession
spark = SparkSession.builder.appName("EnvironmentTest").getOrCreate()

In [6]:
spark

In [20]:
#read the dataset option1
df_pyspark=spark.read.option(key='header',value='True').csv('/data/data.csv',inferSchema=True)

In [22]:
#read the dataset option2
df_pyspark=spark.read.csv('/data/data.csv',header=True,inferSchema=True)

In [24]:
#check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: integer (nullable = true)
 |-- lng: double (nullable = true)
 |-- lat: double (nullable = true)

In [26]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [34]:
df_pyspark.tail(5)
#head & tail
df_pyspark.head(3)

[Row(name='Dorothy Johnson', age=34, street='2381 Robert Pines Suite 458', city='Alyssaport', state='Montana', zip=22142, lng=132.545626, lat=-58.349095),
 Row(name='Peter Martin', age=29, street='120 Perkins Path Apt. 211', city='Fisherland', state='Tennessee', zip=88765, lng=-40.037116, lat=-39.3496665),
 Row(name='Jennifer Good', age=73, street='11873 Fuller Centers', city='North Josephburgh', state='Wisconsin', zip=95791, lng=45.677852, lat=-6.35988)]

In [47]:
#select a column
df_pyspark.select('name').show(3)

+---------------+
|           name|
+---------------+
|Dorothy Johnson|
|   Peter Martin|
|  Jennifer Good|
+---------------+
only showing top 3 rows

In [64]:
#select multiple columns
df_pyspark.select(['name','age']).show(3)

+---------------+---+
|           name|age|
+---------------+---+
|Dorothy Johnson| 34|
|   Peter Martin| 29|
|  Jennifer Good| 73|
+---------------+---+
only showing top 3 rows

In [49]:
#check the data types
df_pyspark.dtypes

[('name', 'string'),
 ('age', 'int'),
 ('street', 'string'),
 ('city', 'string'),
 ('state', 'string'),
 ('zip', 'int'),
 ('lng', 'double'),
 ('lat', 'double')]

In [50]:
df_pyspark.describe().show()

+-------+---------------+-----------------+--------------------+----------------+-------+-----------------+------------------+------------------+
|summary|           name|              age|              street|            city|  state|              zip|               lng|               lat|
+-------+---------------+-----------------+--------------------+----------------+-------+-----------------+------------------+------------------+
|  count|           1000|             1000|                1000|            1000|   1000|             1000|              1000|              1000|
|   mean|           NULL|           47.972|                NULL|            NULL|   NULL|        50932.618| 3.823100903999998|1.9906343310000005|
| stddev|           NULL|18.78995152410666|                NULL|            NULL|   NULL|28919.88486191643|102.74786675511103| 50.82377421062967|
|    min|Aaron Whitehead|               18|00160 Young Roads...|      Acostaport|Alabama|              647|       -179.745358|        -89.885701|
|    max|  Zachary Jones|               80|997 Glenn Greens ...|Zimmermanborough|Wyoming|            99899|        178.488026|        89.9768385|
+-------+---------------+-----------------+--------------------+----------------+-------+-----------------+------------------+------------------+

In [51]:
#adding a column
df_pyspark.withColumn("agelater",df_pyspark['age']+25).show(3)

+---------------+---+--------------------+-----------------+---------+-----+----------+-----------+--------+
|           name|age|              street|             city|    state|  zip|       lng|        lat|agelater|
+---------------+---+--------------------+-----------------+---------+-----+----------+-----------+--------+
|Dorothy Johnson| 34|2381 Robert Pines...|       Alyssaport|  Montana|22142|132.545626| -58.349095|      59|
|   Peter Martin| 29|120 Perkins Path ...|       Fisherland|Tennessee|88765|-40.037116|-39.3496665|      54|
|  Jennifer Good| 73|11873 Fuller Centers|North Josephburgh|Wisconsin|95791| 45.677852|   -6.35988|      98|
+---------------+---+--------------------+-----------------+---------+-----+----------+-----------+--------+
only showing top 3 rows

In [55]:
#dropping a column
df_pyspark.drop('agelater').show(3)

+---------------+---+--------------------+-----------------+---------+-----+----------+-----------+
|           name|age|              street|             city|    state|  zip|       lng|        lat|
+---------------+---+--------------------+-----------------+---------+-----+----------+-----------+
|Dorothy Johnson| 34|2381 Robert Pines...|       Alyssaport|  Montana|22142|132.545626| -58.349095|
|   Peter Martin| 29|120 Perkins Path ...|       Fisherland|Tennessee|88765|-40.037116|-39.3496665|
|  Jennifer Good| 73|11873 Fuller Centers|North Josephburgh|Wisconsin|95791| 45.677852|   -6.35988|
+---------------+---+--------------------+-----------------+---------+-----+----------+-----------+
only showing top 3 rows

19825.18s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
/bin/bash: line 1: ./bin/run-example: No such file or directory

In [68]:
mydata=spark.read.csv('/data/mnm_dataset.csv',header=True,inferSchema=True)

In [76]:
from pyspark.sql.functions import count
ca_count_mydata=(mydata
                 .select(['State', 'Color', 'Count'])
                 .where(mydata.State=='CA')
                 .groupBy(['State', 'Color'])
                 .agg(count('Count').alias('Total'))
                 .orderBy('Total',ascending=False))

In [77]:
ca_count_mydata.show(10)

+-----+------+-----+
|State| Color|Total|
+-----+------+-----+
|   CA|Yellow| 1807|
|   CA| Green| 1723|
|   CA| Brown| 1718|
|   CA|Orange| 1657|
|   CA|   Red| 1656|
|   CA|  Blue| 1603|
+-----+------+-----+

In [79]:
spark.stop()